@import "tailwindcss";

@theme {
  --color-husky-blue: #0046ad;
  --color-husky-light-blue: #0066ff;
  --color-husky-white: #ffffff;
  --color-husky-black: #0a0a0a;
  
  --background: var(--color-husky-black);
  --foreground: var(--color-husky-white);
}

:root {
  --background: #0a0a0c;
  --foreground: #ffffff;
  --husky-blue: #0046ad;
  --husky-light-blue: #0066ff;
}



@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

.glass {
  @apply bg-white/10 backdrop-blur-md border border-white/20;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-husky-blue to-husky-light-blue;
}
